<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ jt_logo_icon }}" type="image/png" />
        <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="{{ fonts_css }}" />
        <link rel="stylesheet" type="text/css" href="{{ base_css }}" />
        <script src="{{ modernizr_js }}"></script>
    </head>
    <body>
        <header>
            {% block header %}
                <h1>{% trans "My page" %}</h1>
            {% endblock %}
        </header>
        <div id="content-wrapper">
            {% block content %}

            {% endblock %}
        </div>
        <footer id="bottom-bar">
            {% block footer %}

            {% endblock %}
        </footer>

        <script src="{{ windows_js }}"></script>
        <script src="{{ dnd_js }}"></script>
    </body>
</html>
